.box
{
    width: 150px;
    height: 150px;
    margin: 25px;
    
}

.box1
{
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 4;
}

.box2
{
    background-color: green;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
}

.box3
{
    background-color: blue;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2;
}