<!DOCTYPE html>

    <%- include("../partials/head"); %>

    <body class="container">
        <%- include("../partials/header", {pagina: "sobre"}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima animi odit, facilis deserunt veniam dolorem ut tempore voluptatem id! Dicta, rem? Mollitia quibusdam hic saepe, libero distinctio sunt deserunt excepturi.</p>
            </div>
        </main>

        <%- include("../partials/footer"); %>
    </body>
</html>